
<h2>Produkte</h2>

<table>
    <thead>
        <td>SKU</td>
        <td>Variante von SKU</td>
        <td>Name</td>
        <td>Preis in €</td>
        <td>Konfiguration</td>
        <td>Verfügbarkeit</td>
        <td>Beschreibung</td>
    </thead>
    <tbody>
    @for (product of productCollection$|async; track product.sku) {
        <tr>
        <td>{{product.sku}}</td>
        <td>{{product.parentSku}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <dl *ngFor="let item of product.properties | keyvalue">
                @for (item of product.properties |keyvalue; track $index) {
                <dt>{{item.key}}</dt>
                <dd>{{item.value}}</dd>
                }
            </dl>
        </td>
        <td>@if (product.available) {Verfügbar} @else {Ausverkauft}</td>
        <td>{{product.description}}</td>
        </tr>
    }
    </tbody>
</table>
